{% block header %}
      {% include 'layout/layout_admin/header_admin.html' %}
{% endblock %}

<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
	{% include 'layout/layout_admin/sidebar_admin.html' %}
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
    {% block body %}
	{% endblock %}
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

{% block footer %}
      {% include "layout/layout_admin/footer_admin.html" %}
{% endblock %}